html {
  background: url(https://db33usvig9p6h.cloudfront.net/panels/cover/43612/large_10694352_10152901594818854_4557922962855175544_o.jpg) bottom center;
  background-size: cover;
  height: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

div {
  margin: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  width: 100%;
}

p {
  margin: inherit;
}

#banner1 {
  font-size: 160px;
  font-weight: 900;
}

#banner2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}